




  <div  class="app-content-item__main__fullname">{{fullname}}</div>

  <div class="app-content-item__main__company">{{work}}</div>

  <div *ngIf="phone!=undefined" class="app-content-item__main__contact">

    <div class="app-content-item__main__contact__icon">
      <i class="fas fa-phone"></i>
    </div>

    <a  class="app-content-item__main__contact__info" href="tel:{{phone}}">{{phone}}</a>


  </div>


<!--  <div class="app-content-item__main__tags">-->

<!--    <div class="app-content-item__main__tags__item"></div>-->

<!--  </div>-->














